$wdt: 100%;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$quartiary: #EEEEEE;
$radius: 1rem 1rem 0rem 0rem;
$shadow: 0 0 7px rgb(204, 203, 203);
@mixin flex__column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
} 

@media screen and (max-width: 767px){
body{
    font-family: roboto;
    display: flex;
    flex-wrap: wrap;
     cursor: pointer;
}
.page--container{
    width: $wdt;
    margin: -8px;
}
.logo--container{
border: 10px;
justify-content: center;
display: flex;
flex-wrap: wrap;
width: $wdt;
padding: 13px;
margin-left: -8px;

& img{
    width: 150px
}
}
.location--container{
    background-color: #DEDEDF;
    width: $wdt;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
    margin: -8px;
    border-top: 2px solid #b9b8b9;
    & a{
        margin-left: 20px;
    }   
}

.location--container{
    a:hover{
        text-decoration: none;
          }
    a:link {
        text-decoration: none;
          }
    a:visited {
        color: black;
          }
           
}

.text-discover{
        width: 200px;
        color: #9A9999;
        font-size: 10px;
}

.explore-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: $quartiary;
width: $wdt;
margin-left: 5px;
padding: 10px;
font-size: 12px;
text-align: center;
margin: -8px;

}
.bttn--purple{
    background-color: $primary;
    color: white;
    border-radius: 20px;
    width: 160px;
    box-shadow: $shadow;
    height: 35px;
    border: none;
    background: linear-gradient(177deg, $secondary, $primary);
}


.works-container{
    display: flex;
    flex-wrap: wrap;
    width: $wdt;
    flex-direction: column;
    margin: -8px;
    padding: 30px;
}
.btn{
    box-shadow: $shadow;
    background-color: #F0F2F4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display: inline-block;
    height: 52px;
    width: 255px;
    border: 2px solid $quartiary;
    border-radius: 15px;
    padding: 18px;
    margin: 5px;

    & i{
        margin-left: 5px;
        color: #9A9999;
    }

    &:hover {
        background-color: #b99ed8;
    }
}

.search-txt{
    margin: 10px;
}

  .pin__span{
    background-color: $primary;
      color: white;
      padding: 5px;
      width: 35px;
      text-align: center;
      font-size: 10px;
      border-radius: 30rem;
      padding: 5px;
      margin-left: -27px;
  }

.new{
    background-color: $tertiary;
    color: #06B086;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    float: right;
    width: 50px;
    object-fit: cover;
    top: 10px;
    right: 10px;
    position: absolute;

}
.restaurants-container{
    @include flex__column;
    background-color: $quartiary;
    margin: -8px;
    
    &__card{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 0 7px gray;
    margin: 20px;
    height: 12rem;
    background-color: white;
    position: relative;
    }

    &__image{
        width: 100%;
        height: 8rem;
        border-radius: $radius;
    }

    &__description{
        margin-left: 10px;
        line-height: 0px;

    }
    & a{
        width: 100%;
    }
    & i{
        margin: 10px;
        &:hover{
        background-color: $primary;
        }
    }
}
.footer-container{
    background-color: #6A696B;
    color: white;
    text-decoration: none;
    margin: -8px;
    padding: 20px;
    & img{
        width: 90px;
        filter:invert(100%)
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:visited {
        color: white;
    }
}
}