@import "colors.scss";
@import "mixin.scss";

@media screen and (max-width: 767px){
body{
    font-family: roboto;
    display: flex;
    flex-wrap: wrap;
     cursor: pointer;
}
a:visited{
    text-decoration: none;
    text-transform: none;
    color: black;
}
a:active{
    text-decoration: none;
    text-transform: none;
    color: black;
}
.page--container{
    width: $wdt;
    margin: -8px;
}
.logo--container{
border: 10px;
justify-content: center;
display: flex;
flex-wrap: wrap;
width: $wdt;
padding: 13px;
margin-left: -8px;

& img{
    width: 150px
}
}
.location--container{
    background-color: #DEDEDF;
    width: $wdt;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 20px;
    margin: -8px;
    border-top: 2px solid #b9b8b9;
    & a{
        margin-left: 20px;
    }
}

.location--container{
    a:hover{
        text-decoration: none;
          }
    a:link {
        text-decoration: none;
          }
    a:visited {
        color: black;
          }

}

.text-discover{
        width: 200px;
        color: #9A9999;
        font-size: 10px;
}

.explore-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: $quartiary;
width: $wdt;
margin-left: 5px;
padding: 10px;
font-size: 12px;
text-align: center;
margin: -8px;

}
.bttn--purple{
    background-color: $primary;
    color: white;
    border-radius: 20px;
    width: 160px;
    box-shadow: $shadow;
    height: 35px;
    border: none;
    background: linear-gradient(177deg, $secondary, $primary);
    margin: 41px;
    &--txt{
        padding: 8px;
        text-align: center;
    }
}


.works-container{
    display: flex;
    flex-wrap: wrap;
    width: $wdt;
    flex-direction: column;
    margin: -8px;
    padding: 30px;
}
.btn{
    box-shadow: $shadow;
    background-color: #F0F2F4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display: inline-block;
    height: 52px;
    width: 255px;
    border: 2px solid $quartiary;
    border-radius: 15px;
    padding: 18px;
    margin: 5px;

    & i{
        margin-left: 5px;
        color: gray;

    }

    &:hover {
        background-color: #b99ed8;
    }
}

.search-txt{
    margin: 10px;
}

  .pin__span{
    background-color: $primary;
      color: white;
      padding: 5px;
      width: 35px;
      text-align: center;
      font-size: 12px;
      border-radius: 50%;
      padding: 10px;
      margin-left: -27px;

      &:hover{
          background-color: $primary;
      }
  }

.new{
    background-color: $tertiary;
    color: #06B086;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    float: right;
    width: 50px;
    object-fit: cover;
    top: 10px;
    right: 10px;
    position: absolute;

}
.restaurants-container{
    @include flex__column;
    background-color: $quartiary;
    margin: -8px;

    &__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 0 7px gray;
    margin: 20px;
    height: 12rem;
    background-color: white;
    position: relative;
    }

    &__image{
        width: 100%;
        height: 8rem;
        border-radius: $radius;
    }

    &__description{
        margin-left: 10px;
        line-height: 0px;

    }
    & a{
        width: 100%;
    }
    & i{
        margin: 10px;
        color: black;
        &:hover{
        fill: $primary;

        }
    }
}
    .footer-container{
            background-color: #454546;
            color: white;
            text-decoration: none;
            margin: -8px;
            padding: 20px;
            width: 285px;
            font-size: 12px;
            & img{
                width: 90px;
                filter:invert(100%);
                align-items: center;
                margin-left: -10px;
                color: white;
            }
            a:link {
                text-decoration: none;
            }
            a:hover {
                text-decoration: none;
            }
            a:visited {
                color: white;
            }
            & a{
                padding: 10px;
            }
            & i{
                font-size: 10px;
            }
    }

.margin-10{
        margin-left: -12px;
}
/*__________Menu*/
.inactive{
    position: relative;
    top: -28px;
    left: 257px;
    display: block;
    a:hover{
        display: none;
    }
      
}
.active{
    display: none;
    position: relative;
    top: -28px;
    left: 257px;
    color: #9356DC;
    a:hover{
        display: block;
    }
    
}

.menu--container{
    width: 280px;
    margin: -8px;
    border-radius: 40px 40px 0px 0px;
    background-color: $quartiary;
    padding: 20px;
    position: relative;
    top: 176px;
    left: 0px;
    
}
.entrees{
    transform: translateY(100%);
    transition: transform 2000ms;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.restaurant-image{
  width: 328px;
  position: absolute;
  top: 73px;
  left: 0;
  margin: -8px;

}
.logo__rest img{
    width: 150px;
    margin-left: 60px;
}
.logo__rest{
    padding: 12px;
}
.title--menu{
    font-family: Shrikhand;
    text-transform: capitalize;
    font-size: 26px;
}
h3{
    text-transform: uppercase;
    font-weight: 150;
    margin-bottom: 8px;
    }
.btn-border{
  border-bottom: 3px solid $tertiary;
    width: 43px;
}


.plate--container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px #cccbcb;
    margin-left: -8px;;
    margin: 10px;
    height: 75px;
    

&--description{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    padding-right: 10px;
    width: 200px;

}
    &--name{
        font-size: 12px;
        font-weight: bold;
        

    }
    &--info{
        font-size: 10px;
    
    }
    &--price{
        font-size: 14px;
        font-weight: bold;
        padding-top: 18px;
        padding-right: 10px;
 
    }

    .ani--container{
        background-color: #99E2D0;
        width: 51px;
        border-radius: 0px 20px 20px 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        display: none;
        transition: margin-right 750ms ease;
        
        
        & i{
            color: white;
            font-size: 20px;
            margin-top: 15px;
            transition:4s;
            &:hover{
                transform: scale(.1);
                transform: rotate(360deg);
                transition: transform 330ms ease-in-out;
            }
            }
        }
        &:hover {
            .ani--container{
                display: block;
                transform: scaleX(1);
                transition: transform 330ms ease-in-out;  
                transform-origin: 50% right;
            }
        }
}




.footer-container-menu img{
width: 90px;
color: white;
align-items: center;
margin-left: -10px;

}
.footer-container-menu{
    background-color: #454546;
    color: white;
    text-decoration: none;
    margin: -8px;
    padding: 20px;
    position: relative;
    top: 183px;
    width: 280px;
    font-size: 12px;
    & img{
        width: 90px;
        filter:invert(100%)
    }
    & a{
        color: white;
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:visited {
        color: white;
    }
    & a{
        padding: 10px;
    }
    & i{
        font-size: 10px;
    }
}
.margin-10{
        margin-left: -12px;
}
}
